---
layout: layouts/base
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - blog_posts
    - tags
eleventyComputed:
  title: Tag “{{ tag }}”
permalink: "/tags/{{ tag | slugify }}/"
---
<h1>Tag “{{ tag }}”</h1>

{% for post in collections[tag] %}
  <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
  <p>{{ post.data.description }}</p>
{% endfor %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
